modules = ["dotnet-10.0", "dotnet-7.0", "dotnet-9.0", "angular-node-24", "angular-node-20"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start ChatterPal"

[[workflows.workflow]]
name = "Start ChatterPal"
author = 46157585
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Chatter-Pal-main && npx tsx server/index.ts"

[[workflows.workflow]]
name = "ChatterPal Dev Server"
author = 46157585
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Chatter-Pal-main && npm run dev"
